@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
   
</div>
<!DOCTYPE html>

    <main role="main">

      
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-center" ><img src="https://www.hillspet.es/content/dam/cp-sites/hills/hills-pet/en_us/img/article/HP_PCC_hero_dog64.jpg" width="900px" height="400px"></h1>

          <p class="text-center">Eres amante de las mascotas? ...</p>
          
        </div>
      </div>

      <div class="container">
        
        <div class="row">
          <div class="col-md-4">
            <h2>Curiosidades</h2>
            <p>No perciben los sabores salados. La cantidad de papilas gustativas que tienen los perros son bastante menores que las de los seres humanos. ¿Qué sabores perciben? Ellos perciben los sabores dulces, amargos, ácidos y umami (cárnicos) </p>
            <img src="https://estag.fimagenes.com/imagenesred/2224391_0.jpg?1" width="300" height="300"/>
            
          </div>
          <div class="col-md-4">
            <h2>promociones</h2>
            <p>Oferta del 50% de descuento al esterilizar a tu perro </p>
            <img src="http://www.ofertasveterinario.com/ofertas-veterinario-madrid/oferta-esterilizacion-de-perros.jpg" width="300" height="300" />

          </div>
          <div class="col-md-4">
            <h2>la salud de tu mascota es importante</h2>
            <p>Aprende a detectar enfermedades: A menudo, puedes pensar que tu mascota no se siente bien y una rápida visita al veterinario te ayudará a confirmar que algo no marcha correctamente. Algunos síntomas son: pérdida de apetito, rechazo del agua, disminución o aumento súbito de peso, lentitud o rechazo a jugar, micciones frecuentes o escasas, heces con sangre o blandas, vómitos, salivación excesiva o respiración irregular.</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkmjXOPtFOlAR2wgcBeGOtcCycKyzKwRSysbinD-MjqbZFDEEO" width="300" height="300"/>
            
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>